---
- name: Send Get request using uri module to get vars information
  ansible.builtin.uri:
    url: "https://app.terraform.io/api/v2/vars?filter%5Borganization%5D%5Bname%5D=Shadowman&filter%5Bworkspace%5D%5Bid%5D={{ workspace_id }}"
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ hcpterraform_api_token }}"
    status_code: 200, 204
    body_format: json
    return_content: true
    timeout: 60
  register: terraformvarsresult

- name: Set Var ID
  ansible.builtin.set_fact:
    number_of_instances_id: "{{ terraformvarsresult.json.data | selectattr('attributes.key', 'match', 'number_of_instances') | map(attribute='id') | join(',') }}"
    instance_name_convention_id: "{{ terraformvarsresult.json.data | selectattr('attributes.key', 'match', 'instance_name_convention') | map(attribute='id') | join(',') }}"
    rhel_version_id: "{{ terraformvarsresult.json.data | selectattr('attributes.key', 'match', 'rhel_version') | map(attribute='id') | join(',') }}"
    rhel_version: "{{ terraformvarsresult.json.data | selectattr('attributes.key', 'match', 'rhel_version') | map(attribute='attributes.value') | join(',') }}"

- name: Update number_of_instances if defined
  ansible.builtin.uri:
    url: "https://app.terraform.io/api/v2/vars/{{ number_of_instances_id }}"
    method: PATCH
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ hcpterraform_api_token }}"
    body: |-
      {
        "data": {
          "id":"{{ number_of_instances_id }}",
          "attributes": {
            "value":"{{ numinstances }}"
          },
          "type":"vars"
        }
      }
    body_format: json
    status_code: 200
  when: numinstances is defined

- name: Update prefix if defined
  ansible.builtin.uri:
    url: "https://app.terraform.io/api/v2/vars/{{ instance_name_convention_id }}"
    method: PATCH
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ hcpterraform_api_token }}"
    body: |-
      {
        "data": {
          "id":"{{ instance_name_convention_id }}",
          "attributes": {
            "value":"{{ prefix }}"
          },
          "type":"vars"
        }
      }
    body_format: json
    status_code: 200
  when: prefix is defined

- name: Update operating_system if defined
  ansible.builtin.uri:
    url: "https://app.terraform.io/api/v2/vars/{{ rhel_version_id }}"
    method: PATCH
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ hcpterraform_api_token }}"
    body: |-
      {
        "data": {
          "id":"{{ rhel_version_id }}",
          "attributes": {
            "value":"{{ operating_system }}"
          },
          "type":"vars"
        }
      }
    body_format: json
    status_code: 200
  when: operating_system is defined

- name: Perform Terraform Plan
  hashicorp.terraform.run:
    workspace_id: "{{ workspace_id }}"
    auto_apply: false
    state: present
    tf_token: "{{ hcpterraform_api_token }}"
  register: terraformplanresponse


- name: Get json plan information by plan ID
  hashicorp.terraform.view_plan:
    plan_id: "{{ terraformplanresponse.relationships.plan.data.id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    output_format: json
  register: terraformplanresult

- name: Get before and after states
  ansible.builtin.set_fact:
    terraformbefore: "{{ terraformplanresult.json_output.output_changes.vm_name_terraformvms.before | default([]) }}"
    terraformafter: "{{ terraformplanresult.json_output.output_changes.vm_name_terraformvms.after | default([]) }}"

- name: Set fact of VMs to be deleted
  ansible.builtin.set_fact:
    vmstodelete: "{{ terraformbefore | difference(terraformafter) }}"

- name: Set fact of VMs to be configured
  ansible.builtin.set_fact:
    vmstoadd: "{{ terraformafter | difference(terraformbefore) }}"

- name: Unsubscribe VMs
  ansible.controller.workflow_launch:
    workflow_template: "Unsubscribe VMs for Terraform"
    extra_vars:
      vm_name: "{{ vmstodelete | join(',') }}"
      ticket_number: "{{ ticket_number | default(omit) }}"
    wait: true
  when: vmstodelete | length > 0

- name: Apply the existing plan
  hashicorp.terraform.run:
    run_id: "{{ terraformplanresponse.id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    state: "applied"
    poll: true
    poll_timeout: 600
    poll_interval: 10

- name: Set hostnames if VMWare
  ansible.controller.job_launch:
    job_template: "Hostname Set VMWare"
    extra_vars:
      vm_name: "{{ vmstoadd | join(',') }}"
      operating_system: "{{ operating_system | default(rhel_version) }}"
    wait: true
  when:
    - jsonoutput.configuration.provider_config.vsphere.name is defined
    - vmstoadd | length > 0

- name: Config VM, Deploy Web App with Failure Paths Citrix
  ansible.controller.workflow_launch:
    workflow_template: "Config VM, Deploy Web App with Failure Paths Citrix"
    extra_vars:
      vm_name: "{{ vmstoadd | join(',') }}"
      ticket_number: "{{ ticket_number | default(omit) }}"
    wait: true
  when: vmstoadd | length > 0
