---
- name: Perform Terraform Plan
  hashicorp.terraform.run:
    workspace_id: "{{ workspace_id }}"
    is_destroy: true
    auto_apply: false
    state: present
    tf_token: "{{ hcpterraform_api_token }}"
  register: terraformplanresponse


- name: Get json plan information by plan ID
  hashicorp.terraform.view_plan:
    plan_id: "{{ terraformplanresponse.relationships.plan.data.id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    output_format: json
  register: terraformplanresult

- name: Get before and after states
  ansible.builtin.set_fact:
    terraformbefore: "{{ terraformplanresult.json_output.output_changes.vm_name_terraformvms.before | default([]) }}"
    terraformafter: "{{ terraformplanresult.json_output.output_changes.vm_name_terraformvms.after | default([]) }}"

- name: Set fact of VMs to be deleted
  ansible.builtin.set_fact:
    vmstodelete: "{{ terraformbefore | difference(terraformafter) }}"

- name: Unsubscribe VMs
  ansible.controller.workflow_launch:
    workflow_template: "Unsubscribe VMs for Terraform"
    extra_vars:
      vm_name: "{{ vmstodelete | join(',') }}"
      ticket_number: "{{ ticket_number | default(omit) }}"
    wait: true
  when: vmstodelete | length > 0

- name: Apply the existing destroy plan
  hashicorp.terraform.run:
    run_id: "{{ terraformplanresponse.id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    state: "applied"
    poll: true
    poll_timeout: 600
    poll_interval: 10

- name: Set VMWare as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: VMWare
  when: terraformplanresult.json_output.configuration.provider_config.vsphere.name is defined

- name: Set AWS as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: AWS
  when: terraformplanresult.json_output.configuration.provider_config.aws.name is defined

- name: Set Azure as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: Azure
  when: terraformplanresult.json_output.configuration.provider_config.azurerm.name is defined

- name: Update Inventory Source
  ansible.controller.inventory_source_update:
    name: "{{ shadowman_provision_hypervisor }} Production"
    inventory: "Shadowman Production"
    organization: Infrastructure
