---

- name: Get json plan information by run ID
  hashicorp.terraform.view_plan:
    run_id: "{{ run_id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    output_format: json
  register: planresults
  until: planresults.json_output.complete

- name: Get before and after states for VMs
  ansible.builtin.set_fact:
    terraformbefore: "{{ planresults.json_output.output_changes.vm_name_terraformvms.before | default([]) }}"
    terraformafter: "{{ planresults.json_output.output_changes.vm_name_terraformvms.after | default([]) }}"

- name: Set fact of VMs to be deleted
  ansible.builtin.set_fact:
    vmstodelete: "{{ terraformbefore | difference(terraformafter) }}"

- name: Unsubscribe VMs
  ansible.controller.workflow_launch:
    workflow_template: "Unsubscribe VMs for Terraform"
    extra_vars:
      vm_name: "{{ vmstodelete | join(',') }}"
      ticket_number: "{{ planresults.json_output.variables.ticket_number.value | default(omit, true) }}"
    wait: true
  when: vmstodelete | length > 0

- name: Send POST request using uri module to callback to Terraform
  ansible.builtin.uri:
    url: "{{ task_result_callback_url }}"
    method: PATCH
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ access_token }}"
    body: |-
      {
        "data": {
          "type": "task-results",
            "attributes": {
              "status": "passed",
              "message": "Any necessary deprovision completed by AAP"
            }
          }
      }
    status_code: 200
    timeout: 60
  register: terraformapplyresponse
