---

- name: Get json plan information by run ID
  hashicorp.terraform.view_plan:
    run_id: "{{ run_id }}"
    tf_token: "{{ hcpterraform_api_token }}"
    output_format: json
  register: planresults
  until: planresults.json_output.complete

- name: Set VMWare as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: VMWare
  when: planresults.json_output.configuration.provider_config.vsphere.name is defined

- name: Set AWS as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: AWS
  when: planresults.json_output.configuration.provider_config.aws.name is defined

- name: Set Azure as Hypervisor
  ansible.builtin.set_fact:
    shadowman_provision_hypervisor: Azure
  when: planresults.json_output.configuration.provider_config.azurerm.name is defined

- name: Get before and after states for VMs
  ansible.builtin.set_fact:
    terraformbefore: "{{ planresults.json_output.output_changes.vm_name_terraformvms.before | default([]) }}"
    terraformafter: "{{ planresults.json_output.output_changes.vm_name_terraformvms.after | default([]) }}"

- name: Set fact of VMs to be configured
  ansible.builtin.set_fact:
    vmstoadd: "{{ terraformafter | difference(terraformbefore) }}"
    vmstodelete: "{{ terraformbefore | difference(terraformafter) }}"

- name: Set hostnames if VMWare
  ansible.controller.job_launch:
    job_template: "Hostname Set VMWare"
    extra_vars:
      vm_name: "{{ vmstoadd | join(',') }}"
      operating_system: "{{ planresults.json_output.variables.rhel_version.value }}"
    wait: true
  when:
    - planresults.json_output.configuration.provider_config.vsphere.name is defined
    - vmstoadd | length > 0

- name: Update REQ if VMs were removed but also going to be added
  ansible.controller.job_launch:
    job_template: "ServiceNow Catalog Update"
    extra_vars:
      work_notes: "VMs successfully removed"
      ticket_number: "{{ planresults.json_output.variables.ticket_number.value | default(omit, true) }}"
    wait: true
  when:
    - vmstodelete | length > 0
    - vmstoadd | length > 0
    - planresults.json_output.variables.ticket_number.value | default('') != ''

- name: Config VM, Deploy Web App with Failure Paths Citrix
  ansible.controller.workflow_launch:
    workflow_template: "Config VM, Deploy Web App with Failure Paths Citrix"
    extra_vars:
      vm_name: "{{ vmstoadd | join(',') }}"
      ticket_number: "{{ planresults.json_output.variables.ticket_number.value | default(omit, true) }}"
      shadowman_provision_hypervisor: "{{ shadowman_provision_hypervisor }}"
    wait: true
  when: vmstoadd | length > 0

- name: Send POST request using uri module to callback to Terraform
  ansible.builtin.uri:
    url: "{{ task_result_callback_url }}"
    method: PATCH
    headers:
      Content-Type: "application/vnd.api+json"
      Authorization: "Bearer {{ access_token }}"
    body: |-
      {
        "data": {
          "type": "task-results",
            "attributes": {
              "status": "passed",
              "message": "Any necessary configuration completed by AAP",
              "url": "https://aap.shadowman.dev/execution/jobs/playbook/{{ awx_job_id }}/output"
            }
          }
      }
    status_code: 200
    body_format: json
    timeout: 60
  register: terraformapplyresponse

- name: Update Inventory Sources if VMs were only removed
  ansible.controller.inventory_source_update:
    name: "{{ shadowman_provision_hypervisor }} Production"
    inventory: "Shadowman Production"
    organization: Infrastructure
  when:
    - vmstodelete | length > 0
    - vmstoadd | length == 0

- name: Update REQ if VMs were only removed
  ansible.controller.job_launch:
    job_template: "ServiceNow Catalog Update"
    extra_vars:
      request_state: "closed_complete"
      work_notes: "VMs successfully removed"
      ticket_number: "{{ planresults.json_output.variables.ticket_number.value | default(omit, true) }}"
    wait: true
  when:
    - vmstodelete | length > 0
    - vmstoadd | length == 0
    - planresults.json_output.variables.ticket_number.value | default('') != ''
